@import "../src/styles/globals.css";
@import "../src/styles/movieCard.css";
@import "../src/styles/movieModal.css";
@import "../src/styles/form.css";
@import "../src/styles/lists.css";
@import "../src/styles/navigator.css";

.App {
  text-align: center;
}

body { 
  background: linear-gradient(to bottom, #1b1f3b, #292929); /* Dark navy to charcoal gradient */
  color: #e0e0e0; /* Light grey text for contrast */
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

button {
  border-radius: 8px !important;
  padding: 8px 16px !important;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

button:hover {
  opacity: 0.8;
}

.app-text {
  color: #f5c518 !important;
}